apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: elasticsearch
  namespace: weather-mlops
spec:
  serviceName: elasticsearch
  replicas: 1
  selector:
    matchLabels:
      app: elasticsearch
  template:
    metadata:
      labels:
        app: elasticsearch
    spec:
      containers:
      - name: elasticsearch
        image: docker.elastic.co/elasticsearch/elasticsearch:7.17.3
        resources:
            limits:
              memory: 1Gi
            requests:
              memory: 500Mi
        env:
        - name: discovery.type
          value: single-node
        ports:
        - containerPort: 9200
          name: tcp
        - containerPort: 9300
          name: transport
---
apiVersion: v1
kind: Service
metadata:
  name: elasticsearch
  namespace: weather-mlops
spec:
  ports:
  - port: 9200
    targetPort: 9200
  selector:
    app: elasticsearch
