apiVersion: apps/v1
kind: Deployment
metadata:
  name: kibana
  namespace: weather-mlops
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kibana
  template:
    metadata:
      labels:
        app: kibana
    spec:
      containers:
      - name: kibana
        image: docker.elastic.co/kibana/kibana:7.17.3
        resources:
          limits:
            memory: 1Gi
          requests:
            memory: 500Mi
        env:
        - name: ELASTICSEARCH_HOSTS
          value: "http://elasticsearch:9200"
        ports:
        - containerPort: 5601
---
apiVersion: v1
kind: Service
metadata:
  name: kibana
  namespace: weather-mlops
spec:
  type: NodePort
  ports:
  - port: 5601
    targetPort: 5601
    nodePort: 30004
  selector:
    app: kibana
