apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-deployment
  namespace: weather-mlops
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      containers:
      - name: auth-service
        image: kondapallitarun3474/weather-auth:v1
        imagePullPolicy: Always
        ports:
        - containerPort: 5000
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "500m"
            memory: "256Mi"
        volumeMounts:
        - name: users-config
          mountPath: /app/users.json
          subPath: users.json
      volumes:
      - name: users-config
        configMap:
          name: auth-users-config
