apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: weather-mlops
spec:
  selector:
    app: auth-service
  type: NodePort
  ports:
    - protocol: TCP
      port: 5000
      targetPort: 5000
      nodePort: 30000
