apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-deployment
  namespace: weather-mlops
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      containers:
      - name: auth-service
        image: weather-auth:v1
        imagePullPolicy: Always
        ports:
        - containerPort: 5000
