apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  namespace: weather-mlops
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: weather-frontend:v1
        imagePullPolicy: Always
        ports:
        - containerPort: 80
