apiVersion: apps/v1
kind: Deployment
metadata:
  name: mlflow
  namespace: weather-mlops
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mlflow
  template:
    metadata:
      labels:
        app: mlflow
    spec:
      containers:
      - name: mlflow
        image: ghcr.io/mlflow/mlflow:v2.14.1
        command:
          - mlflow
          - server
          - --backend-store-uri
          - sqlite:///mlflow.db
          - --default-artifact-root
          - /mlflow/artifacts
          - --host
          - 0.0.0.0
          - --port
          - "5000"
        ports:
        - containerPort: 5000
---
apiVersion: v1
kind: Service
metadata:
  name: mlflow
  namespace: weather-mlops
spec:
  selector:
    app: mlflow
  ports:
    - protocol: TCP
      port: 5005
      targetPort: 5000
