---
- name: Deploy Weather Application Microservices
  hosts: localhost
  gather_facts: no
  vars:
    # CHANGE THIS to your DockerHub username
    docker_user: "kondapallitarun3474" 
    namespace: "weather-mlops"
    # Default tags if not provided (overridden by Jenkins)
    auth_tag: "v1"
    inference_tag: "v1"
    frontend_tag: "v1"
    retrainer_tag: "v1"

  roles:
    - { role: auth, tags: ['auth'] }
    - { role: inference, tags: ['inference'] }
    - { role: frontend, tags: ['frontend'] }
    - { role: retrainer, tags: ['retrainer'] }
